doctype html
html
  head
    meta(charset='utf-8')
  body
    h1 
      a(href='/topic') Server Side JavaScript
    ul
      each topic in topics
        li
          //- 보통은 topic.@rid 로 접근하지만 특수문자 @ 나 값에 있는 # 같은 특수문자가 문제가 될 수 있다. 해서 배열로 해당 프로퍼티를 불러서 사용한다.
          //- @rid속성에 있는 #33:0처럼 #이나 : 특수기호가 URL에 포함되면 HTML 문법과 충돌이 생기는데 이것을 방지하기 위해서는 encodeURIComponent()함수를 사용.
          - rid = encodeURIComponent(topic['@rid']);
          a(href='/topic/' + rid)= topic.title
    article
      //- jade의 if문을 사용하여 메인타이틀을 클릭시 Welcome이 뜨게 만들어 주었다.
      if topic
        h2= topic.title
        = topic.description
        if topic.author
          div= 'by ' + topic.author
        else
          div= 'by anonimous'
      else
        h2 Welcome
        | This is server side javascript tutorial.
    ul
      li
        a(href='/topic/add') add
      //- view의 edit 링크를 추가해 주고 if문으로 확인한 것은 메인타이틀을 클릭시('/topic)로 rid에 대한 정보가 없는 상태가 되는데 if조건이 없으면 rid변수를 찾게 되어 에러를 발생시키는데 edit링크는 해당 토픽에 들어와 있을 때만 적용하기 위해.       
      if topic
        - rid = encodeURIComponent(topic['@rid']);
        li
          a(href='/topic/'+ rid +'/edit') edit
        li
          a(href='/topic/'+ rid +'/delete') delete
